@use "../abstracts/variables" as *;


@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1281px) {
      @content;
    }
  }
  @if $point == smalldesktop {
    @media (max-width: 1280px) and (min-width: 1025px) {
      @content;
    }
  }  
  @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 767px) {
      @content;
    }
  }
   @else if $point == tabletvertical {
    @media (max-width: 768px) and (min-width: 415px) {
      @content;
    }
  } 
  @else if $point == mobile-xl {
    @media (max-width: 414px) and (min-width: 376px) {
      @content;
    }
  }
 
    @else if $point == mobile {
    @media (max-width: 375px) and (min-width: 320px) {
      @content;
    }
  }
}

@mixin button() {
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 2px solid #2bd1a3;
  width: auto;
  display: inline-block; 
  padding-bottom: 5px;
  &:hover {
    color: $green;
}
@include breakpoint(largedesktop) {
  width: 190px;
  font-size: 28px;}

}