

//Tipografias
$font-principal:  "Space Grotesk", sans-serif;

//Colores

$black: #151515;
$green: #4EE1A0;
$gray-dark: #242424;
$gray: #d9d9d9;
$white:#FFFFFF; 

$icon-filter-green: brightness(0) invert(72%) sepia(69%) saturate(500%) hue-rotate(95deg) brightness(95%) contrast(90%);