@use "../abstracts/mixins" as *;


body {
    background-image: url(../../img/aros-header.svg),
     url(../../img/aros-main.svg),
     url(../../img/foto-recortada.png);
     background-size: auto, auto, 0;

    background-repeat: no-repeat;
    background-position: 0% 5%, 100% 32%, 0% 0%;
    @include breakpoint(largedesktop) {
        background-position: 0% 5%, 100% 31%, 0% 0%;
        background-size: auto, auto, 0;

    }  
    @include breakpoint(smalldesktop) {
        background-position: 0% 5%, 100% 33%, 0% 0%;
        background-size: auto, auto, 0;

    }
    @include breakpoint(tablet) {
        background-size: 29%;
        background-position: -6% 5%, 111% 33%, 0% 0%;
        background-size: auto, auto, 0;


    }
    @include breakpoint(tabletvertical) {
        background-size: 50%, 41%;
        background-position: -32% 2%, 126% 31.6%, 0% 0%;
        background-size: auto, auto, 0;


    }
    @include breakpoint(mobile) {  
        background-size: 98%, 82%;
        background-position: -345% 3.5%, 292% 29.6%, 50% 3.53%;
        z-index: 1, 1, 5;
        background-size: 90%, auto, 50%;

    }

    
  
}

  