@use "../abstracts/mixins" as *;


body {
    background-image: url(../../img/aros-header.svg), url(../../img/aros-main.svg);
    background-repeat: no-repeat;
    background-position: 0% 5%, 100% 32%;
    @include breakpoint(largedesktop) {
        background-position: 0% 5%, 100% 31%;
    }  
    @include breakpoint(smalldesktop) {
        background-position: 0% 5%, 100% 33%;
    }
    @include breakpoint(tablet) {
        background-size: 29%;
        background-position: -6% 5%, 111% 33%;

    }
    @include breakpoint(tabletvertical) {
        background-size: 50%, 41%;
        background-position: -32% 2%, 126% 31.6%;

    }
    @include breakpoint(mobile) {  
        background-size: 98%, 82%;
        background-position: -2283% 3%, 292% 29.6%;
    }
    @include breakpoint(mobile-xl) {  
        background-size: 98%, 82%;
        background-position: -2283% 3%, 292% 29.6%;
    }
    
  
}