@use "../abstracts/mixins" as *;


body {
    background-image: url(../../img/aros-header.svg), url(../../img/aros-main.svg);
    background-repeat: no-repeat;
    background-position: 0% 5%, 100% 32%;
    @include breakpoint(largedesktop) {
        background-position: 0% 5%, 100% 31%;
    }  
    @include breakpoint(smalldesktop) {
        background-position: 0% 5%, 100% 33%;
    }
    @include breakpoint(tablet) {
        background-size: 29%;
        background-position: -6% 5%, 111% 33%;

    }
    

    
  
}