@use "../abstracts/mixins" as *;


body {
    background-image: url(../../img/foto-recortada.png),
     url(../../img/aros-main.svg),
     url(../../img/aros-header.svg);
     background-size: 0, auto, auto;

    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 32%, 0% 5%;
    @include breakpoint(largedesktop) {
        background-position: 0% 0%, 100% 31%, 0% 5%;
        background-size: 0, auto, auto;

    }  
    @include breakpoint(smalldesktop) {
        background-position: 0% 0%, 100% 33%, 0% 5%;
        background-size: 0, auto, auto;

    }
    @include breakpoint(tablet) {
        background-position: 0% 0%, 111% 33%, -6% 5%;
        background-size: 0, auto, auto;


    }
    @include breakpoint(tabletvertical) {
        background-position: 0% 0%, 126% 31.6%, -32% 2%;
        background-size: 0, auto, auto;


    }
    @include breakpoint(mobile) {  
        background-position: 50% 3.53%, 292% 29.6%, -345% 3.5%;  
        background-size: 50%, auto, 90%;

    }

    
  
}

  