@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.footer {
    background: $gray-dark url(../../img/aros-footer.svg) no-repeat;
    background-position: 0% 67%;
    @include breakpoint(tablet) {
      background-position: 0% 65%;
      background-size: 29%;
    }

    padding: 60px 7%;
    color: $white;
    @include breakpoint(tablet) {
      padding: 55px 11%;
    }
    @include breakpoint(tabletvertical) {
      padding: 55px 3%;
      background-position: -38% 80%;
      background-size: 42%;
    }
    @include breakpoint(mobile) {
      display: block;
      max-width: 100%;
      background-position: -750% 66%;
      background-size: 94%;
  }

    &-container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 123px;
        @include breakpoint(largedesktop) {
            margin-bottom: 198px;

        } @include breakpoint(smalldesktop) {
            margin-bottom: 136px;

        }
        @include breakpoint(tabletvertical) {
          flex-direction: column;
          align-items: center;
        
        }
        @include breakpoint(mobile) {
          display: block;
          max-width: 100%;
      }


        &-text {
            h2 {
            font-size: 88px;
            margin-bottom: 20px;
            @include breakpoint(largedesktop) {
              font-size: 126px;
              margin-bottom: 20px;
          }   
          @include breakpoint(tablet) {
            font-size: 58px;
            margin-bottom: 20px;
        }      
        @include breakpoint(tabletvertical) {
          font-size: 70px;
          margin-bottom: 20px;
          text-align: center;
      }
        @include breakpoint(mobile) {
          text-align: center;
          font-size: 50px;
        }

          }
            p {
            color: $white;
            font-size: 18px;
            line-height: 1.5;
            max-width: 427px;

            @include breakpoint(largedesktop) {
              font-size: 27px;
              max-width: 645px;
            }    
            @include breakpoint(tablet) {
              font-size: 13px;
              max-width: 322px;
              }  
              @include breakpoint(tablet) {
                font-size: 13px;
                max-width: 405px;
                text-align: center;
                }
                @include breakpoint(mobile) {
                  text-align: center;
                  font-size: 15px;
                  margin-bottom: 50px;
                }

          }
        }
        &-formulario {
            width: 500px;
            @include breakpoint(largedesktop) {
              width: 718px;
          }   
            @include breakpoint(tablet) {
            width: 326px;
            height: 280px;
          }
          @include breakpoint(tabletvertical) {
            width: 395px;
            height: 287px;
          }
          @include breakpoint(mobile) {
            width: 100%;
          }

            &-name, &-email, &-message {
                font-size: 20px;
                position: relative;
                margin-bottom: 30px;
                @include breakpoint(largedesktop) {
                  font-size: 26px
              }  
              @include breakpoint(tablet) {
                font-size: 16px;
            }
            @include breakpoint(mobile) {
              font-size: 16px;             
          }

          
          
            }
            &-button {
                position: relative;
                left: 361px;
                @include breakpoint(smalldesktop) {
                    left: 360px;
                }
                @include breakpoint(tablet) {
                  left: 306px;

                }
                @include button();
                @include breakpoint(largedesktop) {
                  width: 227px;
              }  
                @include breakpoint(tablet) {
                width: 111px;
                left: 213px;
              }
                @include breakpoint(tabletvertical) {
                width: 140px;
                left: 250px;
              }
                @include breakpoint(mobile) {
                  width: 140px;
                  left: 184px;
                  font-size: 16px;
              }

            }
        }    
    }
}


    
input:placeholder-shown + .underline,
textarea:placeholder-shown + .underline {
  background: gray;
}
input:valid + .underline {
  background: $green;
}

input:not(:placeholder-shown):invalid + .underline,
textarea:not(:placeholder-shown):invalid + .underline {
  background: #ff4d4d;
}


  

  
  input, textarea {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: $white;
    font-size: 20px;
    padding: 5px 0;
    @include breakpoint(largedesktop) {
        font-size: 26px;
    } 
  }
  
  #text {
    resize: none;
    height: 60px;
    @include breakpoint(largedesktop) {
            height: 90px;

    }
    @include breakpoint(mobile) {     
          height: 88px;    
    }

  }
  
  .underline {
    display: block;
    width: 100%;
    height: 2px;
    background: gray;
    margin-top: 5px;
    transition: 0.3s;
  }

  .line2::before {
    content: "";
    width: 1230px;
    height: 2px;
    margin: 0px 110px 0px 110px;
    position: absolute;
    background-color: $white;
    right: 0;
    top: 3660px;
    @include breakpoint(largedesktop) {
        width: 1230px;
        top: 3660px;
    }   
    @include breakpoint(smalldesktop) {
        width: 1072px;
        top: 3431px;
    }
    @include breakpoint(tablet) {
      width: 816px;
      top: 2859px;
    }
    @include breakpoint(tabletvertical) {
      width: 95%;
      top: 3034px;
      margin: 0px 20px 0px 0px;

    }    
    @include breakpoint(mobile) {
      width: 86%;
      top: 4834px;
      left: 0;
      margin: 0px 25px 0px 25px;
      height: 1px;
    }

  }
  .footer_nav {
    display: flex;
    justify-content: space-between;
    @include breakpoint(mobile) {
      display: block;
      max-width: 100%;
      text-align: center;
    }

    &-logo {
        @include breakpoint(largedesktop) {
          width: 315px;
        }
        @include breakpoint(mobile) {
          margin-bottom: 20px;
        }

      }
    &-social {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-right: 30px;
      @include breakpoint(tabletvertical) {
        margin: 0;
      }
      @include breakpoint(mobile) {
        justify-content: center;
        margin: 0;
      }

      img {
        @include breakpoint(largedesktop) {
          width: 37px;
        }
      }
      
    }
  }

  .footer_nav-social a:hover img {
    filter: $icon-filter-green;
  }
