@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.principal {
  background-image: url(../../img/circulo.svg);
  background-repeat: no-repeat;
  background-position: 58% 73%;
  height: 100vh;
  margin: 50px 110px 88px 110px;
  @include breakpoint(largedesktop) {
    background-position: 71% 60%;
  }
  @include breakpoint(smalldesktop) {
    background-position: 51% 84%;
    margin: 50px 110px 143px 110px;
  }
  @include breakpoint(tablet) {
    margin: 40px 50px 0px 50px;
    background-position: 58% 66%;
    background-size: 14vh;
  }
  @include breakpoint(tabletvertical) {
    margin: 15px 0px 88px 30px;
    height: 53vh;
    background-position: 107% 91%;
    background-origin: content-box;
    background-size: 10vh;
  }
  @include breakpoint(mobile) {
    display: block;
    width: 100%;
    margin: 30px 0px 0px 0px;
    background-position: 126% 38%;
  }


  &_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
    @include breakpoint(largedesktop) {
      margin-bottom: 124px;
    }
    @include breakpoint(tablet) {
      margin-bottom: 115px;
    }
    @include breakpoint(tabletvertical) {
      margin-bottom: 65px;
    }
    @include breakpoint(mobile) {
      display: block;
      text-align: center;
    }


    &-logo {
      @include breakpoint(largedesktop) {
        width: 315px;
      }
      @include breakpoint(tabletvertical) {
        width: 158px;
      }
      @include breakpoint(mobile) {
        width: 39%;
        margin-bottom: 26px;
      }

    }
    &-social {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-right: 30px;
      @include breakpoint(mobile) {
        gap: 32px;
        justify-content: center;
        margin-left: 30px;
      }


      img {
        @include breakpoint(largedesktop) {
          width: 37px;
        }
        @include breakpoint(tabletvertical) {
          width: 25px;
        }
        @include breakpoint(mobile) {
          width: 20px;          
        }

      }
    }
  }
  &_contenedor {
    display: flex;
    justify-content: space-between;
    @include breakpoint(mobile) {
      display: block;
    }

    &-texto {
      @include breakpoint(mobile) {
        margin: 0px 25px 0px 25px; 
      }

      &-title {
        font-size: 88px;
        margin-bottom: 52px;
        width: 62%;
        @include breakpoint(largedesktop) {
          font-size: 147px;
          width: 75%;
        }
        @include breakpoint(smalldesktop) {
          font-size: 67px;
        }
        @include breakpoint(tablet) {
          font-size: 66px;
          margin-bottom: 21px;
        }
        @include breakpoint(tabletvertical) {
          width: 50%;
        }
        @include breakpoint(tabletvertical) {
          width: 100%;
          font-size: 68.5px;
          line-height: 78px;
          margin-bottom: 55px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          font-size: 38px;
          line-height: 41px;
          margin-bottom: 64px;
          position: relative;
          top: 190px;
          text-align: center;
        }

        span {
          display: block;
          @include breakpoint(mobile) {
            display: inline;
          }

        }

        span.activate::before {
          content: "";
          width: 524px;
          height: 6px;
          position: absolute;
          background-color: #4ee1a0;
          right: 664px;
          top: 450px;
          @include breakpoint(largedesktop) {
            width: 883px;
            right: 685px;
            top: 589px;
          }
          @include breakpoint(smalldesktop) {
            width: 405px;
            right: 655px;
            top: 395px;
          }
          @include breakpoint(tablet) {
            width: 398px;
            right: 469px;
            top: 346px;
          }
          @include breakpoint(tabletvertical) {
            width: 408px;
            right: 333px;
            top: 342px;
            height: 4px;
          }
          @include breakpoint(mobile) {
            top: 80px;
            left: 75px;
            height: 4px;
            width: 228px;
          }

         
        }
      }
      &-subtitle {
        font-size: 18px;
        line-height: 30px;
        width: 48%;
        margin-bottom: 80px;
        font-weight: 100;
        @include breakpoint(largedesktop) {
          font-size: 35px;
          line-height: 42px;
          width: 48%;
          margin-bottom: 169px;
        }
        @include breakpoint(tabletvertical) {
          width: 60%;
          font-size: 18px;
          margin-bottom: 19px;
          line-height: 26px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          text-align: center;
          font-size: 16px;
          margin-bottom: 19px;
          line-height: 2;
          position: relative;
          top: 139px;
        }

      }
      &-button {
        @include button();
        @include breakpoint(mobile) {
          position: relative;
          left: 101px;
          top: 166px;
      }

        
      }
    }
    &-photo {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 110px;
      z-index: -1;
      @include breakpoint(tablet) {
        margin-right: 50px;
      }
      @include breakpoint(tabletvertical) {
        margin: 0;
        width: 42%;

        margin: 0;
      }
      @include breakpoint(mobile) {
        margin: 0;
        left: 0;
        width: 100%;    
      }

      img {
        width: 522px;
        @include breakpoint(tablet) {
          width: 400px;
        }
        @include breakpoint(tabletvertical) {
          width: 100%;
        }
        @include breakpoint(mobile) {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 109px;
          width: 50%;
        }

        
      }
    }
  }
  .line::before {
    content: "";
    width: 1230px;
    height: 2px;
    margin: 0px 110px 0px 110px;
    position: absolute;
    background-color: $white;
    right: 0;
    top: 944px;
    @include breakpoint(largedesktop) {
      width: 1701px;
      top: 1121px;
    }
    @include breakpoint(tablet) {
      width: 924px;
      margin: 0px 50px 0px 50px;
      top: 761px;
    }
    @include breakpoint(mobile) {
      width: 87%;
      margin: 0px 25px 0px 25px;
      top: 792px;
      height: 1px;
    }

  }
}

.principal_nav-social a:hover img {
  filter: $icon-filter-green;
}
