@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.principal {
  background-image: url(../../img/circulo.svg);
  background-repeat: no-repeat;
  background-position: 58% 73%;
  height: 100vh;
  margin: 50px 110px 88px 110px;
  @include breakpoint(largedesktop) {
    background-position: 71% 60%;
  }
  @include breakpoint(smalldesktop) {
    background-position: 51% 84%;
    margin: 50px 110px 143px 110px;
  }
  @include breakpoint(tablet) {
    margin: 40px 50px 0px 50px;
    background-position: 58% 66%;
    background-size: 14vh;
  }

  &_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
    @include breakpoint(largedesktop) {
      margin-bottom: 124px;
    }
    @include breakpoint(tablet) {
      margin-bottom: 115px;
    }

    &-logo {
      @include breakpoint(largedesktop) {
        width: 315px;
      }
    }
    &-social {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-right: 30px;
      img {
        @include breakpoint(largedesktop) {
          width: 37px;
        }
      }
    }
  }
  &_contenedor {
    display: flex;
    justify-content: space-between;
    &-texto {
      &-title {
        font-size: 88px;
        margin-bottom: 52px;
        @include breakpoint(largedesktop) {
          font-size: 147px;
        }
        @include breakpoint(smalldesktop) {
          font-size: 67px;
        }
        @include breakpoint(tablet) {
          font-size: 66px;
          margin-bottom: 21px;
        }
        span.activate::before {
          content: "";
          width: 524px;
          height: 6px;
          position: absolute;
          background-color: #4ee1a0;
          right: 664px;
          top: 450px;
          @include breakpoint(largedesktop) {
            width: 883px;
            right: 685px;
            top: 589px;
          }
          @include breakpoint(smalldesktop) {
            width: 405px;
            right: 655px;
            top: 395px;
          }
          @include breakpoint(tablet) {
            width: 398px;
            right: 469px;
            top: 346px;
          }
        }
      }
      &-subtitle {
        font-size: 18px;
        line-height: 30px;
        width: 48%;
        margin-bottom: 80px;
        @include breakpoint(largedesktop) {
          font-size: 35px;
          line-height: 42px;
          width: 48%;
          margin-bottom: 169px;
        }
      }
      &-button {
        @include button();
      }
    }
    &-photo {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 110px;
      z-index: -1;
      @include breakpoint(tablet) {
        margin-right: 50px;
      }
      img {
        width: 522px;
        @include breakpoint(tablet) {
          width: 400px;
        }
      }
    }
  }
  .line::before {
    content: "";
    width: 1230px;
    height: 2px;
    margin: 0px 110px 0px 110px;
    position: absolute;
    background-color: $white;
    right: 0;
    top: 944px;
    @include breakpoint(largedesktop) {
      width: 1701px;
      top: 1121px;
    }
    @include breakpoint(tablet) {
      width: 924px;
      margin: 0px 50px 0px 50px;
      top: 761px;
    }
  }
}

.principal_nav-social a:hover img {
  filter: $icon-filter-green;
}
