@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main_principal{
    margin: 0px 110px 88px 110px;
    &-language {
        margin-bottom: 120px;
        ul {
            gap: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @include breakpoint(largedesktop) {
                gap: 50px 197px;

            }  
            @include breakpoint(smalldesktop) {
                gap: 50px 0px;

            }
          
        }
      
       
        h3 {
            font-size: 48px;
            color: $white;
            @include breakpoint(largedesktop) {
                font-size: 64px;

            }
            @include breakpoint(smalldesktop) {
                font-size: 44px;
            }  
            @include breakpoint(tablet) {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 18px;
            color: $white;
            @include breakpoint(largedesktop) {
                font-size: 25px;
            }  
            @include breakpoint(tablet) {
                font-size: 12px;
            }
    
        }
    }
    &-projects {
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 65px;
            @include breakpoint(tablet) {
                margin-bottom: 50px;
            }
        }
        h2 {
            font-size: 88px;
            @include breakpoint(tablet) {
                font-size: 54px;

            }
        }
        &-button {
            @include button()
        }
        &-content { 
            
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
                @include breakpoint(tablet) {
                    gap:  26px;

                }
            }
           
            img {
                width: 100%;
            }
            h4 {
                font-size: 24px;
                color: $white;
                @include breakpoint(tablet) {
                    font-size: 17px;

                }
            }
            p {
                font-size: 18px;
                color: $white;
                word-spacing: 1em; 
                @include breakpoint(tablet) {
                    font-size: 12px;
                    line-height: 38px;

                }
            }
        }
    }
}
