@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


body {
    font-family: $font-principal;
    color: $white;
    background-color: $black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}